<tr id="js-title-<%= title.id %>">
  <td class="col-6">
      <%= simple_format(title.content) %>
  </td>
  <td class="col-2 small">
    <%= title.user_name %>
  </td>
  <td class="col-2">
      <%= title.vote_quantity %><%= t('defaults.vote_quantity') %>
  </td>
  <td class="col-2">
    <%= link_to votes_path(title_id: title.id),
                method: :post,
                remote: true do %>
      <%= image_tag 'text_yu.png', size: '30x30' %>
    <% end %>
  </td>
</tr>
